<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bounds学习以及仿ScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E75858841E52EA880074149C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E758589D1E52EA890074149C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E75858A81E52EA890074149C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
